$bootstrap-sass-asset-helper: true;
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

input[type="checkbox"] {
  margin-right: 20px;
}
.list-group-item {
  font-weight: 500;
  &.completed {
    background-color: #eee;
    text-decoration: line-through;
  }
  .btn-danger {
    opacity: 0;
    transition: .25s ease all;
  }
  &:hover {
    .btn-danger {
      opacity: 1;
    }
  }
}
